.background-main-footer {
  z-index: -10;
  @include for-phone-only {
    background-color: var(--primary-color);
  }

  @include for-tablet-only {
    background-image: url('../images/background-img/background-tablet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 89px;
  }

  @include for-desktop-up {
    background-image: url('../images/background-img/background-desc.png');
    background-position: center 75px;
  }
}
