.container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include for-tablet-up {
        max-width: 734px;
    }

    @include for-desktop-up {
        max-width: 1278px;
    }
}