@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --accent-color: #dc56c5;
  --secondary-grey-color: #939393;
  --secondary-white-color: #ffffff;
  --primary-color: #0e0e0e;
  --accent-button-color: #4c00fe;
  --modal-background-color: #f2fff7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

body.loaded .event-list-item {
  opacity: 1;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 734px) {
  .container {
    max-width: 734px;
  }
}
@media screen and (min-width: 1278px) {
  .container {
    max-width: 1278px;
  }
}

.background-main-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -10;
}
@media screen and (max-width: 733px) {
  .background-main-footer {
    background-color: var(--primary-color);
  }
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .background-main-footer {
    background-image: url("../images/background-img/background-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1278px) {
  .background-main-footer {
    background-image: url("../images/background-img/background-desc.jpg");
    background-position: center 75px;
  }
}

.background-main-footer.light {
  background-image: linear-gradient(rgba(185, 180, 180, 0.5), rgba(185, 180, 180, 0.5)), url("../images/background-img/gray-background-desc.jpg");
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  background-color: rgba(32, 13, 29, 0.6);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  height: 96%;
  max-width: 280px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  overflow: auto;
  transform: translate(-50%, -50%);
  border-radius: 150px 0px;
  background-color: var(--modal-background-color);
}
@media screen and (min-width: 734px) {
  .modal {
    height: 96%;
    width: 96%;
    max-height: 845px;
    max-width: 600px;
    border-radius: 300px 0px;
    padding-top: 75px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 75px;
  }
}
@media screen and (min-width: 1278px) {
  .modal {
    width: 96%;
    height: 96%;
    max-width: 700px;
    max-height: 1010px;
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
  }
}

.modal-close-btn {
  position: absolute;
  right: 12px;
  top: 15px;
  background-color: transparent;
  color: var(--accent-button-color);
  border: none;
  transition: all ease-in-out 300ms;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  scale: 1.1;
  color: #2e009a;
}

.close-svg {
  fill: currentColor;
}

.event-modal-img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 20px;
  border-radius: 100px 0;
  width: 300px;
  height: 100%;
}
@media screen and (min-width: 734px) {
  .event-modal-img {
    width: 500px;
    border-radius: 200px 0px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1278px) {
  .event-modal-img {
    width: 100%;
    border-radius: 220px 0px;
  }
}

.description-container {
  margin-bottom: 24px;
}
@media screen and (min-width: 734px) {
  .description-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.event-info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 734px) {
  .event-info-item {
    text-align: left;
    align-items: flex-start;
  }
}

.event-info-item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1278px) {
  .event-info-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.event-info__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-bottom: 5px;
}
@media screen and (min-width: 1278px) {
  .event-info__header {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}

.event-info__description {
  max-height: 141px;
  overflow: scroll;
  max-width: 245px;
}
@media screen and (min-width: 734px) {
  .event-info__description {
    max-width: 287px;
  }
}
@media screen and (min-width: 1278px) {
  .event-info__description {
    max-width: 427px;
    max-height: 132px;
  }
}

.header__prices {
  margin-bottom: 8px;
}
@media screen and (min-width: 734px) {
  .header__prices {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1278px) {
  .header__prices {
    margin-bottom: 7px;
  }
}

.event-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color);
}
@media screen and (min-width: 734px) {
  .event-info {
    max-width: calc((100% - 100px) / 2);
  }
}
@media screen and (min-width: 1278px) {
  .event-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
  }
}

.event-info__date,
.event-info__city {
  margin-bottom: 3px;
}
@media screen and (min-width: 1278px) {
  .event-info__date,
.event-info__city {
    margin-bottom: 5px;
  }
}

.ticket-std {
  margin-bottom: 16px;
}
@media screen and (min-width: 1278px) {
  .ticket-std {
    margin-bottom: 32px;
  }
}

.ticket-wrap {
  display: flex;
  margin-bottom: 16px;
}
@media screen and (min-width: 1278px) {
  .ticket-wrap {
    margin-bottom: 20px;
  }
}

.barcode {
  width: 24px;
  margin-right: 13px;
}
@media screen and (min-width: 1278px) {
  .barcode {
    width: 29px;
  }
}

.buy-button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: all ease 250ms;
  text-decoration: none;
  background-color: var(--accent-button-color);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.buy-button:hover, .buy-button:focus {
  background-color: #2e009a;
}
@media screen and (min-width: 734px) {
  .buy-button {
    margin-left: 0;
  }
}

.more-btn {
  display: block;
  padding: 10px 3px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid var(--accent-button-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--accent-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 734px) {
  .more-btn {
    padding: 10px 15px;
  }
}
.more-btn:hover, .more-btn:focus {
  border-color: rgb(220, 86, 197);
}

.modal-info-link {
  text-decoration: none;
  color: var(--accent-color);
}

.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(32, 13, 29, 0.6);
  transition: opacity 300ms linear, visibility 300ms linear;
  display: flex;
  overflow-y: auto;
}

.footer-is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer-modal {
  transform: scale(1);
  transition: transform 250ms;
  counter-reset: none;
  margin: auto;
  max-width: 300px;
  border: 1px solid #bc13fe;
  border-radius: 2rem;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 0%);
  border-radius: 120px 0px;
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (min-width: 734px) {
  .footer-modal {
    max-width: 704px;
    padding-bottom: 40px;
    margin: auto;
  }
}
@media screen and (min-width: 1278px) {
  .footer-modal {
    max-width: 1034px;
  }
}

.footer-modal-close-btn {
  position: absolute;
  right: 20px;
  top: 16px;
  background-color: transparent;
  color: var(--accent-button-color);
  border: none;
  transition: all ease-in-out 300ms;
}
.footer-modal-close-btn:hover, .footer-modal-close-btn:focus {
  scale: 1.1;
  color: #2e009a;
}

.team-name {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 5px;
  margin-top: 30px;
  text-shadow: 2px 2px 5px #bc13fe;
  color: #fff;
}

.team-form__member {
  border: 1px solid var(--primary-color);
  color: black;
}

.team-form__gitHub {
  color: var(--accent-button-color);
  text-decoration: none;
  transition: all ease-in-out 300ms;
}
.team-form__gitHub:focus, .team-form__gitHub:hover {
  color: #2e009a;
}

.footer-modal-open {
  background-color: transparent;
  border-style: none;
  color: white;
  transition: all ease-in-out 300ms;
}

.team-form__member {
  border-radius: 2px;
  border-style: none;
}

.last-fieldset {
  margin-bottom: 70px;
}

#pagination .tui-page-btn,
#pagination .tui-ico-ellip {
  color: var(--secondary-white-color);
}

.tui-next-is-ellip {
  padding-top: 6px;
}

#pagination .tui-page-btn {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  width: 30px;
  height: 30px;
  padding-top: 4px;
}

#pagination .tui-page-btn:hover {
  background-color: transparent;
}

#pagination .tui-is-selected {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 10px 0;
  color: var(--accent-color);
}

#pagination .tui-last {
  padding-top: 6px;
}

#pagination .tui-next,
#pagination .tui-is-disabled,
#pagination .tui-prev,
.tui-ico-first {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url(../images/header/pic-mob@1x.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .header {
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url(../images/header/header-bg-tablet@1x.jpg);
  }
}
@media screen and (min-width: 1278px) {
  .header {
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url(../images/header/header-bg-desk@1x.jpg);
  }
}

.header.light {
  background-image: linear-gradient(rgba(185, 180, 180, 0.5), rgba(185, 180, 180, 0.5)), url(../images/header/white-headerbg.jpg);
}

.container--header {
  position: relative;
  padding-top: 80px;
  padding-bottom: 112px;
  text-align: center;
}
@media screen and (min-width: 734px) {
  .container--header {
    padding-top: 40px;
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 1278px) {
  .container--header {
    padding-bottom: 196px;
  }
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 25px;
}
@media screen and (min-width: 734px) {
  .logo {
    width: 100px;
    height: 29px;
  }
}
@media screen and (min-width: 1278px) {
  .logo {
    width: 137px;
    height: 70px;
  }
}

.logo-bg {
  position: absolute;
  top: -90px;
  left: -106px;
  width: 213px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
@media screen and (min-width: 734px) {
  .logo-bg {
    width: 359px;
    height: 302px;
    top: -160px;
    left: -179px;
  }
}
@media screen and (min-width: 1278px) {
  .logo-bg {
    width: 386px;
    height: 458px;
    top: -240px;
    left: -185px;
  }
}

.header-title {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 18;
  line-height: 1.2222222222;
  color: var(--accent-color);
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .header-title {
    width: 400px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 30;
    line-height: 1.2333333333;
  }
}
@media screen and (min-width: 1278px) {
  .header-title {
    width: 608px;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 50;
    line-height: 1.22;
  }
}

.form-search {
  position: relative;
  display: inline-block;
  width: 280px;
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .form-search {
    width: 320px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1278px) {
  .form-search {
    width: 288px;
    margin-right: 32px;
  }
}

.form-input {
  width: 87.5%;
  height: 40px;
  padding: 10px 80px 10px 32px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--secondary-white-color);
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .form-input {
    width: 336px;
  }
}
@media screen and (min-width: 1278px) {
  .form-input {
    width: 288px;
  }
}

.form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16;
  line-height: 1.25;
  color: var(--secondary-grey-color);
}

.form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16;
  line-height: 1.25;
  color: var(--secondary-grey-color);
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16;
  line-height: 1.25;
  color: var(--secondary-grey-color);
}

.search {
  margin-bottom: 24px;
}
@media screen and (min-width: 734px) {
  .search {
    margin-right: 13px;
  }
}

.search-submit-btn {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 9px;
  right: 45px;
  border: none;
  border-radius: 50%;
  background: url(../images/header/loope-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms, scale 250ms;
  scale: 1;
  background-color: #dc56c5;
}
@media screen and (min-width: 734px) {
  .search-submit-btn {
    top: 9px;
    right: 30px;
  }
}

.search-submit-btn:hover {
  scale: 1.3;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  display: inline-block;
  width: 280px;
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .custom-select {
    width: 320px;
  }
}
@media screen and (min-width: 1278px) {
  .custom-select {
    width: 288px;
  }
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  height: 40px;
  width: 87.5%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--secondary-white-color);
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .select-selected {
    width: 336px;
  }
}
@media screen and (min-width: 1278px) {
  .select-selected {
    width: 288px;
  }
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 32px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--secondary-white-color) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--secondary-white-color) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  color: var(--secondary-white-color);
  padding: 10px 32px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background-color 50ms;
}

/*style items (options):*/
.select-items {
  height: 300px;
  overflow: auto;
  border-radius: 20px 20px 20px 20px;
  width: 87.5%;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 6.5%;
  right: 0;
  z-index: 99;
}
@media screen and (min-width: 734px) and (max-width: 1277px) {
  .select-items {
    width: 336px;
    left: 0;
  }
}
@media screen and (min-width: 1278px) {
  .select-items {
    width: 288px;
    left: 0;
  }
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: #fff;
  background-color: var(--accent-color);
}

.scroll-up-btn {
  position: fixed;
  right: 50px;
  bottom: 90px;
  z-index: 30;
  background-image: url(../images/header/up-arrow-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  display: inline-block;
  width: 65px;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 250ms, visibility 250ms, background-color 250ms, backdrop-filter 250ms, -webkit-backdrop-filter 250ms;
}
@media screen and (max-width: 479px) {
  .scroll-up-btn {
    bottom: 170px;
    right: 10px;
  }
}
.scroll-up-btn.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.scroll-up-btn:hover {
  background-color: rgba(255, 255, 255, 0.537254902);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);
}

.main-container {
  text-align: center;
  padding-bottom: 30px;
}

.event-list {
  padding-top: 9px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  row-gap: 32px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: left;
}
@media screen and (max-width: 733px) {
  .event-list {
    justify-content: center;
    margin-top: -56px;
  }
}
@media screen and (min-width: 734px) {
  .event-list {
    padding-top: 10px;
    padding-right: 11px;
    margin-top: -90px;
    -moz-column-gap: 43px;
         column-gap: 43px;
    row-gap: 54px;
  }
}
@media screen and (min-width: 1278px) {
  .event-list {
    padding-top: 19px;
    padding-right: 21px;
    margin-top: -76px;
    -moz-column-gap: 53px;
         column-gap: 53px;
    row-gap: 59px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.event-list-item {
  -webkit-animation: fadeIn 600ms ease-in-out both;
          animation: fadeIn 600ms ease-in-out both;
  max-width: calc((100% - 30px) / 2);
  cursor: pointer;
  transition: scale 250ms;
}
@media screen and (min-width: 734px) {
  .event-list-item {
    max-width: calc((100% - 129px) / 4);
  }
}
@media screen and (min-width: 1278px) {
  .event-list-item {
    max-width: calc((100% - 159px) / 4);
  }
}

.event-list-item:hover {
  scale: 1.05;
}

.event-link {
  text-decoration: none;
}

.event-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px 0;
  width: 100%;
  height: 100px;
  margin-bottom: 8px;
}
@media screen and (min-width: 734px) {
  .event-img {
    width: 141px;
    height: 111px;
  }
}
@media screen and (min-width: 1278px) {
  .event-img {
    width: 267px;
    height: 215px;
  }
}

.img-wrapper {
  position: relative;
  z-index: 10;
}

.img-wrapper::before {
  content: "";
  z-index: -1;
  position: absolute;
  right: -10px;
  top: -9px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
  width: 80%;
  height: 80%;
}
@media screen and (min-width: 734px) {
  .img-wrapper::before {
    right: -11px;
    top: -10px;
  }
}
@media screen and (min-width: 1278px) {
  .img-wrapper::before {
    right: -21px;
    top: -19px;
  }
}

.event-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  color: var(--accent-color);
  margin-bottom: 4px;
  text-align: center;
}
@media screen and (min-width: 734px) {
  .event-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1278px) {
  .event-title {
    margin-bottom: 8px;
  }
}

.event-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142857143;
  color: var(--secondary-white-color);
  text-align: center;
  margin-bottom: 4px;
}
@media screen and (min-width: 734px) {
  .event-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1278px) {
  .event-date {
    margin-bottom: 8px;
  }
}

.event-location {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-white-color);
  text-align: center;
}
@media screen and (min-width: 734px) {
  .event-location {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.event-location::before {
  content: "";
  display: inline-flex;
  background-image: url(../images/main/point.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 6px;
  height: 9px;
  margin-right: 3px;
}
@media screen and (min-width: 734px) {
  .event-location::before {
    width: 8px;
    height: 10px;
  }
}

.footer-container {
  text-align: center;
  color: var(--secondary-grey-color);
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (max-width: 733px) {
  .footer-container {
    width: 280px;
  }
}

.footer-modal-open {
  padding: 3px 10px;
  border-radius: 15px;
}

.footer-modal-open:hover,
.footer-modal-open:focus {
  color: #5c5c5c;
  box-shadow: 0px 0px 50px 3px var(--accent-color);
}/*# sourceMappingURL=index.css.map */