:root {
    --accent-color: #DC56C5;
    --secondary-grey-color: #939393;
    --secondary-white-color:#FFFFFF;
    --primary-color:#0E0E0E;
    --accent-button-color: #4C00FE;
    --modal-background-color: #FFF2FD;
    

}