:root {
  --accent-color: #dc56c5;
  --secondary-grey-color: #939393;
  --secondary-white-color: #ffffff;
  --primary-color: #0e0e0e;
  --accent-button-color: #4c00fe;
  --modal-background-color: #ffffff;
}
