:root {
  --accent-color: #4c47e7;
  --secondary-grey-color: #939393;
  --secondary-white-color: #5c5c5c;
  --transparent-accent-color: #4c47e74d;
  --primary-color: #0e0e0e;
  --accent-button-color: #4c00fe;
  --modal-background-color: #ffffff;
}
