<div class="footer-backdrop" footer-modal>
  <div class="footer-modal" id="box">
    <form id="box" novalidate>
      <button type="button" class="footer-modal-close-btn">
        <svg class="close-svg" width="17" height="17">
          <use href="./images/header/sprite.svg#close"></use>
        </svg>
      </button>
      <h1 class="team-name">Team #</h1>
      <fieldset>
        <legend class="team-form__member">
          <h2>Name: Артур Коростельов</h2>
        </legend>
        <div>
          <p>Position: Team Lead</p>
          GitHub Page:
          <a class="team-form__gitHub" href="https://github.com/TheArthur1008"
            >https://github.com/TheArthur1008
          </a>
        </div>
      </fieldset>
      <fieldset>
        <legend class="team-form__member">
          <h2>Name: Софія Мерецька</h2>
        </legend>
        <div>
          <p>Position: Developer</p>
          GitHub Page:
          <a class="team-form__gitHub" href="https://github.com/meretska-sofiia"
            >https://github.com/meretska-sofiia
          </a>
        </div>
      </fieldset>
      <fieldset>
        <legend class="team-form__member">
          <h2>Name: Володимир Абдєєв</h2>
        </legend>
        <div>
          <p>Position: Developer</p>
          GitHub Page:
          <a class="team-form__gitHub" href="https://github.com/abdeev"
            >https://github.com/abdeev
          </a>
        </div>
      </fieldset>
      <fieldset>
        <legend class="team-form__member">
          <h2>Name: Анатолій Фенін</h2>
        </legend>
        <div>
          <p>Position: Developer</p>
          GitHub Page:
          <a class="team-form__gitHub" href="https://github.com/feninTolia"
            >https://github.com/feninTolia
          </a>
        </div>
      </fieldset>
      <fieldset>
        <legend class="team-form__member">
          <h2>Name: Олександр Бейсюк</h2>
        </legend>
        <div>
          <p>Position: Developer</p>
          GitHub Page:
          <a class="team-form__gitHub" href="https://github.com/Bolexandr"
            >https://github.com/Bolexandr
          </a>
        </div>
      </fieldset>
      <fieldset class="last-fieldset">
        <legend class="team-form__member">
          <h2>Name: Фурсін Святослав</h2>
        </legend>
        <div>
          <p>Position: Scrum Master</p>
          GitHub Page:
          <a
            class="team-form__gitHub"
            href="https://github.com/ssvyatoss?tab=repositories"
            >https://github.com/ssvyatoss?tab=repositories
          </a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
