<div class="backdrop">
  <div class="modal">
    <button type="button" class="modal-close-btn">
      <svg class="close-svg" width="17" height="17">
        <use href="./images/header/sprite.svg#close"></use>
      </svg>
    </button>
    <img
      src="./images/modal/pic circle.png"
      alt="minimized poster of event"
      class="event-circle-img"
      width="250"
    />
    <div class="description-container">
      <img
        src="./images/modal/pic.png"
        alt="event poster"
        class="event-large-img"
      />
      <ul class="event-info">
        <li class="event-info-item">
          <h2 class="event-info__header">INFO</h2>
          <p class="event-info__description">
            Atlas Weekend is the largest music festival in Ukraine.More than 200
            artists will create a proper music festival atmosphere on 10 stages
          </p>
        </li>
        <li class="event-info-item">
          <h2 class="event-info__header">WHEN</h2>
          <p class="event-info__date">2021-06-09</p>
          <p class="event-info__time">20:00 (Kyiv/Ukraine)</p>
        </li>
        <li class="event-info-item">
          <h2 class="event-info__header">WHERE</h2>
          <p class="event-info__city">Kyiv, Ukraine</p>
          <p class="event-info__place">VDNH</p>
        </li>
        <li class="event-info-item">
          <h2 class="event-info__header">WHO</h2>
          <p class="event-info__artist">The Black Eyed Peas</p>
        </li>
        <li class="event-info-item">
          <h2 class="event-info__header header__prices">PRICES</h2>
          <ul class="tickets">
            <li class="ticket-std">
              <div class="ticket-wrap">
                <img
                  src="./images/modal/barcode.svg"
                  alt="barcode"
                  class="barcode"
                  width="30"
                />
                <p class="ticket-class">
                  Standart
                  <span class="ticket-price">300-500</span>
                  <span class="ticket-currency">UAH</span>
                </p>
              </div>
              <button class="buy-button btn-std">BUY TICKETS</button>
            </li>
            <li class="ticket-vip">
              <div class="ticket-wrap">
                <img
                  src="./images/modal/barcode.svg"
                  alt="barcode"
                  class="barcode"
                  width="30"
                />
                <p class="ticket-class">
                  VIP
                  <span class="ticket-price">1000-1500</span>
                  <span class="ticket-currency">UAH</span>
                </p>
              </div>
              <button class="buy-button btn-vip">BUY TICKETS</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button type="button" class="more-btn">MORE FROM THIS AUTHOR</button>
  </div>
</div>
