.footer-container {
  text-align: center;
  color: var(--secondary-grey-color);
  padding-top: 30px;
  padding-bottom: 24px;
  @include for-phone-only {
    width: 280px;
  }
}
.footer-modal-open {
  padding: 3px 10px;
  border-radius: 15px;
}
.footer-modal-open:hover,
.footer-modal-open:focus {
  color: #5c5c5c;
  box-shadow: 0px 0px 50px 3px var(--accent-color);
}
